body {
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  font-family: Arial, sans-serif;
}

.bg {
  background: url("../images/backgroundED.png") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.heading {
  width: 100%;
  height: 10%;
  background: #50b3a2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-text {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 36px;
  z-index: 1;
}

.text2 {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  z-index: 1;
}

#logo-image {
  position: absolute;
  top: 3%;
  left: 35%;
  transform: translateX(-50%);
  z-index: 1;
  width: 90px;
}

.container {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 75%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

#open-camera,
#capture-image,
#next,
#upload-button {
  margin: 10px;
  background-color: green;
}

.button-container {
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
}

#upload-image {
  margin: 10px;
  width: calc(100% - 20px); /* Adjust width to fit the container */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

#open-camera,
#capture-image,
#next,
#upload-button {
  margin: 10px;
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}

#upload-button {
  margin: 10px auto; /* This will center the button */
  display: block;
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}