body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url("../images/backgroundED.png"); /* Replace with your image path */
  /* height: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
/* 
  body {
    background-image: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
  } */

.btn {
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  padding: 0.67em 0.67em;
  cursor: pointer;
  color: white;
  background-color: black;
  border: none;
  border-radius: 0.3em;
  border: 1px solid white;
  transition: border-color 0.3s ease;
}

.btn:hover {
  border-color: black; /* Change border color on hover */
}

.button-container {
  text-align: center; /* Center the button */
}

.clear {
  clear: both;
}

.content-margin {
  max-width: calc(100% - 38rem);
  width: 100rem;
  margin: 0px auto;
}

.create-btn {
  padding: 0.67em 0.67em;
  font-size: 15px;
  border: 1px solid black;
  background-color: black;
  color: white;
}

.heading {
  font-family: "Sora";
  font-size: 30px;
  text-align: center;
  padding-bottom: 30px;
}

.home-body {
  background-color: #9ee493;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 80px;
  border-radius: 15px;
}

.instructor-search {
  box-sizing: border-box;
  margin-top: 60px;
  width: 100%;
  height: 45px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Horizontally center items */
}

.item-ins {
  width: calc(20% - 30px); /* Adjust the width of each item */
  margin: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
}

.item-image-ins {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.item-title {
  font-family: "Sora", sans-serif;
  font-size: 19.2px;
  font-weight: bold;
}

p {
  font-family: "Sora", sans-serif;
  font-size: 18px;
}

.search-margin {
  max-width: calc(100% - 50rem);
  width: 50rem;
  margin: 0px auto;
}

.subHeading {
  font-family: "Sora";
  font-size: 20px;
  text-align: center;
  padding-bottom: 5px;
}

@media only screen and (max-width: 960px) {
  .content-margin {
    max-width: calc(100% - 10rem);
    width: 100rem;
    margin: 0px auto;
  }

  .instructor-search {
    height: 40px;
  }

  .search-margin {
    max-width: calc(100% - 20rem);
    width: 100rem;
    margin: 0px auto;
  }
}

@media only screen and (max-width: 600px) {
  .create-btn {
    font-size: 12px;
    border: 1px solid black;
    background-color: black;
    color: white;
  }

  .heading {
    font-size: 25px;
    text-align: center;
    padding-bottom: 30px;
  }

  .subHeading {
    font-family: "Sora";
    font-size: 15px;
    text-align: center;
    padding-bottom: 5px;
  }

  .search-margin {
    max-width: calc(100% - 1rem);
    margin: 0px auto;
  }

  .instructor-search {
    box-sizing: border-box;
    margin-top: 60px;
    width: 200px;
    height: 45px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
}

.heading-text {
  position: absolute; /* Position the text absolutely */
  top: 15%;
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  text-shadow: 0 0 5px #000000;
  color: red;
  font-family: "Times New Roman", Times, serif;
  font-size: 36px;
  z-index: 1; /* Ensure text appears above other elements */
}

.text2 {
  color: white;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 24px;
  padding-top: 5%;
}

#logo-image {
  position: absolute;
  top: 12%;
  left: 40%;
  transform: translateX(-50%);
  z-index: 1;
  width: 90px;
}

.rating_num {
  width: 50px;
  margin: 1px 20px 0;
  padding: 5px 5px;
  border-color: #222629;
  text-align: center;
}

.ratingA {
  margin: 0px auto;
  width: 100px;
  border-width: 1.5px;
  padding: 3px 15px 3px 15px;
  background-color: white;
}
.ratingA > * {
  float: right;
}
.ratingA label {
  cursor: pointer;
  height: 40px;
  width: 20px;
  display: block;
  position: relative;
}
.ratingA label::after {
  transition: all 0.4s ease-out;
  content: " ☆";
  font-family: fontAwesome;
  position: absolute;
  color: #444;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  text-align: center;
  font-size: 30px;
  -webkit-animation: 1s pulse ease;
  animation: 1s pluse ease;
}
.ratingA label:hover::after {
  color: #5e5e5e;
  text-shadow: 0 0 15px #5e5e5e;
}
.ratingA input {
  display: none;
}
.ratingA input:checked + label::after,
.ratingA input:checked ~ label::after {
  content: "★";
  color: #f9bf3b;
  text-shadow: 0 0 20px #f9bf3b;
}
.search {
  box-sizing: border-box;
  margin-top: 140px;
  width: 684px;
  height: 45px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.wrapper {
  padding-top: 10px;
  padding: 15px;
  background: #9ee493;
  max-width: 900px;
  margin: auto;
  display: flex;
  margin-top: 50px;
  margin-bottom: 40px;
}
.wrapper .profile {
  width: 50%;
}

.wrapper form {
  width: 50%;
  padding-top: 36px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 20px;
}

.button-container {
  text-align: center; /* Center-align the content */
}

#next {
  margin: 10px;
  background-color: green; /* Spacing between buttons */
  align-items: center;
  margin: 10px; /* Spacing between buttons */
  background-color: green; /* Grey background */
  color: white; /* Black text */
  border: none; /* Remove border */
  padding: 15px 30px; /* Padding inside buttons */
  font-size: 20px;
  font-weight: bold; /* Optional: bold text */
  cursor: pointer; /* Change cursor to pointer on hover */
  border-radius: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.save {
  font-size: 20px;
  font-family: "Sora";
}

.item-details{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}